@model SmartLib.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PubYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PubYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
