@model SmartLib.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

<h2>CHI TIẾT SÁCH</h2>

<div>
    <hr />
    <table class="table display table-responsive">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Brief)</td>
            <td>@Html.Raw(Model.Brief)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Publisher)</td>
            <td>@Html.DisplayFor(model => model.Publisher)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PubYear)</td>
            <td>@Html.DisplayFor(model => model.PubYear)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.Author)</td>
            <td>@Html.DisplayFor(model => model.Author)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.BookCode)</td>
            <td>@Html.DisplayFor(model => model.BookCode)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.QtyInStock)</td>
            <td>@Html.DisplayFor(model => model.QtyInStock)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ViewNo)</td>
            <td>@Html.DisplayFor(model => model.ViewNo)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.BorrowNo)</td>
            <td>@Html.DisplayFor(model => model.BorrowNo)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CopyNo)</td>
            <td>@Html.DisplayFor(model => model.CopyNo)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CoverImg)</td>
            <td><img src="@Model.CoverImg" style="width:300px;height:auto;" /></td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Category.Name)</td>
            <td>@Html.DisplayFor(model => model.Category.Name)</td>
        </tr>
    </table>   
</div>
<p>
    <a href="//Home/AddToCart/@Model.Id" class="btn btn-success">Mượn sách</a>
     |
    @Html.ActionLink("Back to List", "Index")
</p>
