@model IEnumerable<SmartLib.Models.Registration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Đăng ký mượn</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/Registrations/ShowAll">Tất cả</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Registrations/Index">Chưa xử lý</a>
    </li>
</ul>
<br />
<table class="table display table-responsive" id="registration">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })
                    @if (!item.Status)
                    {
                        <button type="button" onclick="Xuly(@item.Id)" class="btn btn-primary">
                            Xử lý mượn sách
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#registration').DataTable();
        });

        //Xử lý cho mượn sách
        function Xuly(id) {
            if (confirm("Đồng ý, xử lý cho học sinh mượn sách?") == true) {
                var order = {
                    "id": id
                };
                $.ajax({
                    url: '@Url.Action("Xuly", "Registrations")',
                    type: "GET",
                    dataType: "json",
                    async: true,
                    data: order,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        //$('#lblMsg').val(data);
                    },
                    complete: function () {
                        alert("Xử lý mượn sách thành công."); //Thành công - thông báo trạng thái xử lý
                    },
                    error: function (xmlHttxmpquest, errorText, thrownError) {
                        //alert(errorText); //Thông báo lỗi
                        window.location.href = "/Registrations"; //Chạy về trang đăng ký mượn sách
                    }
                });
            }
        }
    </script>
}