@model IEnumerable<SmartLib.Models.Borrow>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>QUẢN LÝ MƯỢN - TRẢ SÁCH</h4>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="~/Borrows">Tất cả</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Borrows/NotReturn">Chưa trả</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Borrows/DueDate">Quá hạn</a>
    </li>
</ul>
<table class="table display table-responsive" id="borrows">
    <thead>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Returned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Returned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#borrows').DataTable();
        });
    </script>
}